In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spam.csv', sep=',', header=0, encoding='cp1252')

In [36]:
df[df['v1']=='spam'].sample(5)

        v1                                                 v2
417   spam  FREE entry into our å£250 weekly competition j...
839   spam  Last chance 2 claim ur å£150 worth of discount...
1072  spam  Dear U've been invited to XCHAT. This is our f...
2990  spam  HOT LIVE FANTASIES call now 08707509020 Just 2...
3399  spam  As a valued customer, I am pleased to advise y...

In [4]:
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [5]:
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""",GE,"GNT:-)"""
freq,4825,30,3,2,2

In [6]:
df = df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1)

In [7]:
df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer='word', ngram_range=(2, 2), min_df=1)
X = vectorizer.fit_transform(df['v2'])
Y = df['v1']

In [9]:
#vectorizer.get_feature_names()

from sklearn.ensemble import RandomForestClassifier
f = RandomForestClassifier(n_estimators=10)

from sklearn.model_selection import train_test_split
X_tr, X_ts, y_tr, y_ts = train_test_split(X, Y, test_size=0.30, random_state=4)
f.fit(X_tr,y_tr)

f.score(X_ts, y_ts)

0.95753588516746413

### Some test

In [39]:
smss = pd.DataFrame([ 
    ['spam', 'Activate our brand new credit card with an easy expense plan for your family!'],
    ['ham', 'see you tomorrow at the same place then. kisses'],
        ['spam', 'congratulations! you won a $100 prepaid card. Just send an SMS to 445782213']
])
smss
X_test = vectorizer.transform(smss[1])
Y_test = smss[0]

f.score(X_test, Y_test)
f.predict(X_test)

array(['ham', 'ham', 'ham'], dtype=object)